name: React App Build

on:
  pull_request:
    branches: 
      - "sprint-**"
      - "develop"
      - "feature/**"
      - "jitsi"
      - "master"
  push:
    branches:
      - "sprint-**"
      - "develop"
      - "feature/**"
      - "jitsi"
      - "master"

jobs:
  react_build:
    name: Run React Build
    runs-on: ubuntu-latest

    steps:
      - name: Check Out Git Repository
        uses: actions/checkout@v2

      - name: Set up docker 
        uses: docker/setup-buildx-action@v1 
        id: buildx       
          
      - name: Login To Private Registry
        uses: docker/login-action@v1 
        with:
          #registry: ${{ secrets.DOCKER_REGISTRY }}
          username: ${{ secrets.DOCKER_USERNAME }}  
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: BUild And Push To Registry
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          builder:  ${{ steps.buildx.outputs.name }}
          tags: ${{ secrets.DOCKER_USERNAME }}/myapp:{{ github.run_id }}

      - name: vertify
        run: echo ${{ steps.docker_build.outputs.digest }}